<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Summaryzer</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen, projection" />
  <link href="/static/css/custom.css" type="text/css" rel="stylesheet" media="screen, projection" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
  <div class="navbar-fixed">
    <nav class="grey darken-4" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">Summaryzer</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="#aboutapp">About</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
  <ul id="nav-mobile" class="sidenav">
    <li><a href="{{url_for('index')}}">Home</a></li>
    <li><a href="#contactme">About</a></li>
  </ul>

  <!-- Start of Main Section -->
  <div class="container">
    <h3 align="center">Summarize in Seconds</h3>
    <div class="section">

      <!--  Summary Section   -->
      <div class="row">
        <div class="col s6">
          <form method="POST" action="/analyze">
            <textarea style="min-height: 5rem" name="rawtext" cols="3" rows="5" class="form-control" required="true" placeholder="Enter Text Here"></textarea>
            <button class="btn btn-small waves-effect waves-light light-blue lighten-1" type="reset">Clear</button>
            <button class="btn btn-small waves-effect waves-light purple lighten-1" type="submit">Summarize</button>
          </form>
        </div>

        <div class="col s6">
          <form method="POST" action="/analyze_url">
            <input style="min-height: 5rem" type="text" name="raw_url" placeholder="Enter URL Here" required="true">
            <button class="btn btn-small waves-effect waves-light light-blue lighten-1" type="reset">Clear</button>
            <button class="btn btn-small waves-effect waves-light purple lighten-1" type="submit">Summarize</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- End -->


  <!-- SECTION: RESULTS FOR DIFFERENT SUMMARIZERS -->
  <section class="section section-solutions-about grey lighten-3 ">
    <div class="container">
      <div class="row">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s3">
                <a href="#tab1" class="blue-text">SpaCy Summarizer</a>
              </li>
              <li class="tab col s3">
                <a href="#tab2" class="blue-text">Gensim Summarizer</a>
              </li>
              <li class="tab col s3">
                <a href="#tab3" class="blue-text">NLTK</a>
              </li>
              <li class="tab col s3">
                <a href="#tab4" class="blue-text">Sumy LexRank</a>
              </li>

            </ul>
          </div>
          <div id="tab1" class="col s12">
            {% if final_summary_spacy %}
            <h5>SpaCy</h5>
            <p>Reading Time: <span style="color:#0091EA;">{{ summary_reading_time }} min</span></p>
            <div class="grey lighten-1">
              <p style="padding:5px;font-size:14px;">{{ final_summary_spacy }}</p>
            </div>
            {% endif %}
          </div>
          <div id="tab2" class="col s12">
            {% if final_summary_spacy %}
            <h5>Gensim Summarizer</h5>
            <p>Reading Time: <span style="color:#0091EA;">{{ summary_reading_time_gensim }} min</span></p>
            <div class="grey lighten-2">
              <p style="padding:5px;font-size:14px;">{{ final_summary_gensim }}</p>
            </div>
            {% endif %}
          </div>
          <div id="tab3" class="col s12">
            {% if final_summary_spacy %}
            <h5>NLTK</h5>
            <p>Reading Time: <span style="color:#0091EA;">{{ summary_reading_time_nltk }} min</span></p>
            <div class="grey lighten-1">
              <p style="padding:5px;font-size:14px;">{{ final_summary_nltk }}</p>
            </div>
            {% endif %}
          </div>
          <div id="tab4" class="col s12">
            {% if final_summary_spacy %}
            <h5>Sumy Summarizer</h5>
            <p>Reading Time: <span style="color:#0091EA;">{{ summary_reading_time_sumy}} min</span></p>
            <div class="grey lighten-2">
              <p style="padding:5px;font-size:14px;">{{ final_summary_sumy }}</p>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="col s12">
          {% if final_summary_spacy %}
          <h5>Original Text</h5>
          <p>Reading Time: <span style="color:#0091EA;">{{ final_reading_time }} min</span></p>
          <p class="light">{{ctext}}</p>
          <div class="alert alert-info" role="alert">
            <p>Time Elapsed: <span style="color:#0091EA;">{{ final_time }} mins</span></p>
            <br />
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>


  <footer class="page-footer grey darken-4">
    <div class="container" id="aboutapp">
      <div class="row">
        <div class="col s6">
          <h5 class="white-text">About Summary App</h5>
          <p class="grey-text text-lighten-4">Using Spacy, NLTk and Gensim for Text Summarization.</p>


        </div>

        <div class="col s6">
          <h5 class="white-text">Connect With Me</h5>
          <ul>
            <a href="https://facebook.com/jameshahnii" target="_blank" class="white-text">
              <i class="fab fa-facebook fa-3x"></i>
            </a>
            <a href="https://linkedin.com/in/jameshahnii" target="_blank" class="white-text">
              <i class="fab fa-linkedin fa-3x"></i>
            </a>
            <a href="https://www.youtube.com/triberocket" target="_blank" class="white-text">
              <i class="fab fa-youtube-square fa-3x"></i>
            </a>
            <a href="https://github.com/jameshahn2/" target="_blank" class="white-text">
              <i class="fab fa-github-square fa-3x"></i>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Engineered by <a class="white-text text-lighten-3" href="https://twitter.com/jameshahnii">James Hahn II</a><br />
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="./static/js/init.js"></script>
  <!-- Jesse JCharis -->
</body>

</html>